<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="aboutus.css">
    <h1>About Us</h1>
</head>
<body>
    <div>
        <p>Please Secect one of the following filters</p>
        <button id="staffbtn">Staff</button> | <button id="subjectsbtn">Subjects</button>
        <div id="results"></div>
    </div>

<script src="aboutus.js"></script>
</body>

</html>