<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div> <!-- This is a custom error warning, instead of displaying the real error code.-->
            <% if (err){ %>
                <p>Sorry, there was an issue adding soemthing to the database </p>
           <% } else{ %>
                <p>Something was added</p>
           <% } %>
        </div>

    </main>

</body>
</html>