<nav> <!--sementic tag, for navigation-->>
    <ul id="buttonline">
        <li>Home Page</li>
        <li>Browse</li>
        <li><a href="/aboutus">About us</a></li>
        <li><a href="/contact" target="blank">Contact us</a></li>
        <li>Example page 2</li>
    </ul>
</nav>