strong{
    display: block;
    background: red;
    height: 100px;
    width: 50%;
}

#frist{

    display: inline;
}
#exmaple{
    position: absolute;
    top:0;
    left:0;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background: yellow;
}
#wrapper{
    position: relative;
    width: 500px;
    height: 300px;
    background: red;
}