
h3{
    text-align: center;
}

*{
    background-color: black;
    color: white;
    margin: 5px;
    
}
button{
    background-color: white;
    color: black;
}
.input{

    background-color: white;
    width: 100%;
    color: black; /* othervise the input would not be visible*/
}
#bigger{
    height: 10vh;
}